//
// _home.scss
//

.bg-hero {
    position: relative;
    background-position: center;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 120px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title {
    .home-small-title {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 7px;
    }
}

.home-effect{
    position: absolute;
    height: 625px;
    bottom: -57px;
    left: -102px;
    opacity: 0.7;
    @media (max-width: 1750px) {
        height: 300px;
    }
}

.home-effect-2{
    position: absolute;
    height: 625px;
    bottom: 28px;
    right: -74px;
    opacity: 0.6;
    transform: rotate(346deg);
    @media (max-width: 1750px) {
        height: 300px;
    }
}